<footer id="footer">
   <div class="fpart-first">
      <div class="container">
         <div class="row">
            <div class="column col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            <div class="column col-lg-2 col-md-2 col-sm-12 col-xs-12">
               <h5>Thông tin</h5>
               <ul>
                  <li><a href="#">Giới thiệu</a></li>
                  <li><a href="#">Chính sách bảo mật</a></li>
                  <li><a href="#">Điều khoản dịch vụ</a></li>
               </ul>
            </div>
            <div class="column col-lg-2 col-md-2 col-sm-12 col-xs-12">
               <h5>Chăm sóc khách hàng</h5>
               <ul>
                  <li><a href="">Liên hệ</a></li>
                  <li><a href="">Sơ đồ trang</a></li>
                  <li><a href="" target="_blank">Chế độ bảo hành</a></li>
               </ul>
            </div>
            <div class="about_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
               <h5>Liên hệ</h5>
               <p><b style="line-height: 1.42857;">Địa chỉ:</b><span style="line-height: 1.42857;">&nbsp;xxxxxxxxxxxxxx</span><br></p>
               <p><b><a href="#" target="_blank">&lt;Xem Thêm&gt;</a></b></p>
               <p><br></p>
               <p><b>HOTLINE : </b><font color="#00ff00" style="font-weight: bold;">1900.xxx.xxx&nbsp;</font>( 07:00 - 24:00 )</p>
               <p><br></p>
            </div>
         </div>
      </div>
   </div>
   <div class="fpart-second">
      <div class="container">
         <div id="powered" class="clearfix">
            <div class="row">
               <div class="col-md-4">
               </div>
               <div class="powered_text pull-left flip col-md-4">
                  <p><span style="line-height: 1.42857;">© Copyright 20xx <a href="#" target="_blank">Game Store</a></span><br></p>
               </div>
               <div class="col-md-4">
                  <div class="social pull-right flip">
                     <a href="https://www.facebook.com/" target="_blank"> <img data-toggle="tooltip" src="/images/facebook.png" alt="Facebook" title="" data-original-title="Facebook"></a>
                     <a href="https://plus.google.com/" target="_blank"> <img data-toggle="tooltip" src="/images/google_plus.png" alt="Google+" title="" data-original-title="Google+"> </a>
                     <a href="https://www.youtube.com/channel/" target="_blank"> <img data-toggle="tooltip" src="/images/youtube.png" alt="YouTube" title="" data-original-title="YouTube"> </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
</section>
