<!DOCTYPE html>
<html>
  <head>
    <title>Game Store</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<base href="#">--><base href=".">
<link href="#" rel="canonical">
<link href="/images/logo-100x100.png" rel="icon">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.min.css">
<link href="/stylesheets/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
<link href="/stylesheets/slideshow.min.css" type="text/css" rel="stylesheet" media="screen">
<link href="/stylesheets/countdown.css" type="text/css" rel="stylesheet" media="screen">
<link href="/stylesheets/animate.css" type="text/css" rel="stylesheet" media="screen">
<link href="/stylesheets/jquery.fancybox.css" type="text/css" rel="stylesheet" media="screen">

<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="common-home">
    {{> header}}
   {{{body}}}
   {{> footer}}
   <script src="/javascripts/script.js"></script>
  </body>
</html>
