<!DOCTYPE html>
<html>
  <head>
    <title>Game Store</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<base href="#">--><base href=".">
      <link href="#" rel="canonical">
      <link href="/images/logo-mini.png" rel="icon">
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.min.css">
      <link href="/stylesheets/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
      <link href="/stylesheets/slideshow.min.css" type="text/css" rel="stylesheet" media="screen">
      <link href="/stylesheets/countdown.css" type="text/css" rel="stylesheet" media="screen">
      <link href="/stylesheets/animate.css" type="text/css" rel="stylesheet" media="screen">
      <link href="/stylesheets/jquery.fancybox.css" type="text/css" rel="stylesheet" media="screen">

      <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <script
              src="http://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="shortcut icon" href="/images/logo-mini.png" />
  </head>
  <body class="common-home">
    {{> header_user}}
   {{{body}}}
   {{> footer}}
   <script src="/javascripts/script.js"></script>
    <script>

        var totalPrice={{totalPrice}};
        var totalQty={{totalQty}};
        function addCart(price,qty)
        {
            totalQty=totalQty+qty;
            totalPrice=totalPrice+(price*qty);
            $(".addCartFrmQty").submit(function(event) {
                /* stop form from submitting normally */
                $("#cart-total").text( window.totalQty+" sản phẩm - "+window.totalPrice+ " VNĐ");

            });

        }

    </script>
  </body>
</html>
