<div id="container">
    <div class="container">
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs"></aside>
            <div id="notify">
                {{{message}}}
            </div>
        </div>
    </div>
</div>