.table, .jsgrid .jsgrid-table {
    margin-bottom: 0; }
.table thead th, .jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-family: "roboto-medium", sans-serif;
    font-weight: initial; }
.table thead th i, .jsgrid .jsgrid-table thead th i {
    margin-left: 0.325rem; }
.table th, .jsgrid .jsgrid-table th,
.table td, .jsgrid .jsgrid-table td {
    vertical-align: middle;
    font-size: 14px;
    line-height: 1; }
.table th img, .jsgrid .jsgrid-table th img,
.table td img, .jsgrid .jsgrid-table td img {
    width: 30px;
    height: 30px;
    border-radius: 100%; }
.table th .badge, .jsgrid .jsgrid-table th .badge,
.table td .badge, .jsgrid .jsgrid-table td .badge {
    margin-bottom: 0; }
.table.table-borderless, .jsgrid .table-borderless.jsgrid-table {
    border: none; }
.table.table-borderless tr, .jsgrid .table-borderless.jsgrid-table tr, .table.table-borderless td, .jsgrid .table-borderless.jsgrid-table td, .table.table-borderless th, .jsgrid .table-borderless.jsgrid-table th {
    border: none; }
.table, .jsgrid .jsgrid-table {
    border-collapse: collapse !important; }

.table, .jsgrid .jsgrid-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent; }
.table th, .jsgrid .jsgrid-table th,
.table td, .jsgrid .jsgrid-table td {
    padding: 0.9375rem;
    vertical-align: top;
    border-top: 1px solid #f3f3f3;
    text-align: left }
.table thead th, .jsgrid .jsgrid-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #f3f3f3; }
.table tbody + tbody, .jsgrid .jsgrid-table tbody + tbody {
    border-top: 2px solid #f3f3f3; }
.table .table, .jsgrid .jsgrid-table .table, .table .jsgrid .jsgrid-table, .jsgrid .table .jsgrid-table, .jsgrid .jsgrid-table .jsgrid-table {
    background-color: #fff; }
.table .thead-dark th, .jsgrid .jsgrid-table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e; }

.table .thead-light th, .jsgrid .jsgrid-table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #f3f3f3; }

.table-responsive.table-bordered {
    border: 0; }
/* Data Tables */
.dataTables_wrapper {
    padding-left: 0;
    padding-right: 0; }
.dataTables_wrapper label {
    font-size: 13px; }
.dataTables_wrapper select {
    padding: .4rem; }
.dataTables_wrapper .dataTables_length select {
    margin-left: .25rem;
    margin-right: .25rem; }
.dataTables_wrapper .dataTable .btn, .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload, .ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload, .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled, .dataTables_wrapper .dataTable .wizard > .actions a, .wizard > .actions .dataTables_wrapper .dataTable a {
    padding: 0.1rem 1rem;
    vertical-align: top; }
.dataTables_wrapper .dataTable thead th {
    border-bottom-width: 0; }
.dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting:after,
.dataTables_wrapper .dataTable thead .sorting_asc:before,
.dataTables_wrapper .dataTable thead .sorting_asc:after,
.dataTables_wrapper .dataTable thead .sorting_desc:before,
.dataTables_wrapper .dataTable thead .sorting_desc:after,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
    line-height: 2.5;
    font-family: Material Design Icons;
    font-size: .65rem; }
.dataTables_wrapper .dataTable thead .sorting:before,
.dataTables_wrapper .dataTable thead .sorting_asc:before,
.dataTables_wrapper .dataTable thead .sorting_desc:before,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
    content: "\F05D";
    right: 1.2em; }
.dataTables_wrapper .dataTable thead .sorting:after,
.dataTables_wrapper .dataTable thead .sorting_asc:after,
.dataTables_wrapper .dataTable thead .sorting_desc:after,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
    content: "\F045";
    right: 0.2em; }
.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px; }
.dataTables_wrapper .dataTables_info {
    font-size: 0.875rem; }
.rtl .table-responsive::-webkit-scrollbar,
.rtl .sidebar-fixed .nav::-webkit-scrollbar {
    width: .5em; }
.rtl .table-responsive::-webkit-scrollbar-track,
.rtl .sidebar-fixed .nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
.rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar-thumb,
.rtl ul.chats::-webkit-scrollbar-thumb,
.rtl .product-chart-wrapper::-webkit-scrollbar-thumb,
.rtl .table-responsive::-webkit-scrollbar-thumb,
.rtl .sidebar-fixed .nav::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #191919;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem; }
.card > hr {
    margin-right: 0;
    margin-left: 0; }
.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem; }
.card-columns .card {
    margin-bottom: 0.75rem; }
.card {
    border: 0;
    border-radius: 2px; }
.card .card-body {
    padding: 1.88rem 1.81rem; }
.card .card-body + .card-body {
    padding-top: 0; }
.card.card-outline-success {
    border: 1px solid #00c292; }
.card.card-outline-primary {
    border: 1px solid #03a9f3; }
.card.card-outline-warning {
    border: 1px solid #ffb463; }
.card.card-outline-danger {
    border: 1px solid #fb9678; }
.card.card-rounded {
    border-radius: 5px; }
.card.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2; }
.card.card-circle-progress {
    color: #ffffff;
    text-align: center; }
