<div id="container">
    <div class="container">
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs"></aside>
         <div id="buy_success">
             Mua thành công vui lòng chuyển khoản tới abcxyz với nội dung [username của bạn]
         </div>
        </div>
    </div>
</div>