<div id="container">
    <div class="container">
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs"></aside>
            <div class="input-form">
                <form method="POST" action="/recover">
                    <div class="row">
                        <div class="col-sm-12"><span class="form-title">Khôi phục mật khẩu</span></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            <div class="input-text">Mật khẩu mới</div>
                            <input type="text" class="input-box" name="new_pass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            <div class="input-text">Nhập lại mật khẩu</div>
                            <input type="text" class="input-box" name="new_pass_again">
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{{token}}">
                    <div class="row">
                        <button type="submit" class="btn-submit">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>