<div id="container">
    <div class="container">
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs"></aside>
            <div class="input-form">
                <form method="POST">
                    <div class="row">
                        <div class="col-sm-12 form-title">Đăng ký</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            <div class="info-text">Tên tài khoản</div>
                            <input type="text" class="info-box" disabled="disabled" name="username" value="{{username}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            <div class="info-text">Họ tên</div>
                            <input type="text" class="info-box" disabled="disabled" name="name" value="{{name}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            <div class="info-text">Email</div>
                            <input type="text" class="info-box" disabled="disabled" name="email" value="{{email}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            <div class="info-text">Số điện thoại</div>
                            <input type="text" class="info-box" disabled="disabled" name="phone" value="{{phone}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><input type="submit" class="btn-submit" value="Thay đổi" style="display:none"></div>
                    </div>
                    <span class="col-sm-12"><a id="link-change-info">Chỉnh sửa thông tin cá nhân</a></span>
                </form>
            </div>
        </div>
    </div>
</div>